* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #f9f9f9;
    padding: 12px;
    text-align: center;
}

section {
    max-width: 1200px;
    margin: 0;
    padding: 20px;
}

.list {
    margin: 0;
    padding: 20px;
    text-align: justify;
    line-height: 1.8;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 12px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-style: italic;
}

/* Estilização para um único item dentro de uma estrutura pai */
.list ol li:nth-child(7) { /* dentro do objeto de classe "list", no objeto, lista ordenada "ol", apenas a quarta "li" será estilizada*/
    color: blue;
    font-weight: bold;
}